@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900@display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(315deg, #ffff, #d7e1ec);
    margin: 0px;
    padding: 0px;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: linear-gradient(315deg, #ffff, #d7e1ec);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0 5%;
}
nav ul{
    display: flex;
}
.toggle{
    display: none;
}
nav ul li a{
    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
.logo{
    font-family: Forte;
    color: #000000;
    font-size: 30px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../imag/bg.jpg');
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    margin-right: 10%;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 10px;

}
@media (max-width: 911px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}



footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p{
    font-family: calibri;  
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}
footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons{
    display: flex;
}
.copyright{
    color: #565555;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.social-icons i{
    color: #000000;
}
.social-icons a:hover,
.a-social-b a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
    color: #ffffff;
    transition: all ease 0.5s;
}
.a-social-b{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateX(-50%);
}
.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i {
    color: #2b2b2b;
    font-size: 20px;
}

@media(max-width:750px){
    section{
        background-image: none;
        background-color: #f7f7f7;
    }
    .model{
        display: none;
    }
    .toggle{
        display: block;
    }
    .text-container p:nth-child(2){
        line-height: 40px;
        margin: 0px;
        padding: 0px;
    }
    .text-container{
        top: 5%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 80%;
    }
    nav ul{
        margin: 0px;
        padding: 0px;
        background-color: #ebeef4;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display: none;
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-family: calibri;
        font-size: 1.4em;
        text-transform: uppercase;
        color: #5c5c5c;
    }
    nav ul li a:hover{
        color: #121212;
    }
    .toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
    }
    .toggle.active:before{
        content: '\f00d';
        position: fixed;
        right: 25px;
        line-height: 0px;

    }
    nav.active ul{
        display: flex !important;
    }
    .about-container{
        top: 0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 30px 0px;
        align-items: center;
    }
    .about-text{
        width: 90%;
        text-align: center;
    }
    .services-text{
        width: 100%;
    }
    .contact-me{
        height: 200px;
    }
    .contact-me p{
        font-size: 18px;
    }
    .contact-me button{
        width: 150px;
        height: 33px;
    }
    footer p:nth-child(2){
        width: 90%;
    }
}

.service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}
.service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.service-box:hover .service-icon{
    background: #82ccdd;
    color: #ffffff;
}
.service-box{
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}
